.flex-container {
  width: 800px;
  height: 70vh;
  margin: auto;
  border: 2px solid green;

  /* Flex container Properties (Parent) */
  display: flex;
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  /* flex-direction: row; */
  /* flex-direction: row-reverse; */

  /* Justify Content Properties */
  /* justify-content: center; */
  /* justify-content: end; */
  /* justify-content: flex-end; */
  /* justify-content: start; */
  /* justify-content: left; */
  /* justify-content: right; */
  /* justify-content: flex-start; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
  /* justify-content: stretch; */

  /* work on the child text */
  /* justify-content: baseline; */
  /* justify-content: first baseline; */
  /* justify-content: last baseline baseline; */

  /* Align Items Properties */
  /* align-items: center; */
  /* align-items: end; */
  /* align-items: flex-end; */
  /* align-items: self-end; */
  /* align-items: flex-start; */
  /* align-items: start; */
  /* align-items: self-start; */
  /* align-items: stretch; */

  /* Flex Wrap Properties */
  /* flex-wrap: wrap; */
  /* flex-wrap: wrap-reverse; */
  /* flex-wrap: nowrap; */

  /* Short Hand Properties */
  /* flex-flow: column wrap-reverse; */
}
.flex-item {
  background-color: red;
  border: 2px solid black;
  margin: 2px;
  height: 100px;
  width: 100px;
}
#item1 {
  order: 4;
}
#item3 {
  flex-grow: 60;
}
#item4 {
  align-self: center;
}
#item2 {
  /* align-self: self-end; */
  align-self: flex-end;
}
